@import "@/ui-lib/styles/partials/variables.scss";

.reports {
  display: flex;
  flex-direction: column;
  flex: 1;
  &_headers_date {
    display: flex;
    margin-top: $spaces-xxxl;
    margin-bottom: $spaces-l;

    &_headers {
      flex: 1;
    }
    &_date {
      flex: 1;
      align-self: end;
      display: flex;
      flex-direction: column;
      align-items: end;
      margin: 0 $spaces-m;
    }
  }
}
