/*
fonts
*/

$font-family-poppins: "font-family-poppins";
$font-size-xs: 12px;
$font-size-sx: 14px;
$font-size-s: 18px;
$font-size-m: 30px;
$font-size-l: 26px;
$font-size-xl: 30px;
$font-size-xxl: 50px;
$font-size-xxxl: 75px;
$font-size-mobile: 8px;

$font-weight-bold: 500;
$font-weight-bolder: 600;
$font-weight-boldest: 700;

/*
    colors
*/
$colors-white: #fff;
$colors-white-smoke: #f5f5f5;
$colors-gray--light: #797979;
$colors-violet-primary: #9457f5;
$colors-orange-primary: #fc9054;
$colors-violet-secondary: #3a186f;

/*
    spaces
*/

$spaces-xs: 4px;
$spaces-s: 8px;
$spaces-m: 12px;
$spaces-l: 16px;
$spaces-xl: 20px;
$spaces-xxl: 24px;
$spaces-xxxl: 28px;

/*
    devices
*/

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;
$desktop: 2560px;
