@import "../../../../ui-lib/styles/partials/variables.scss";

.media {
  &_header {
    display: flex;
    flex-direction: column;
  }

  &_content {
    display: flex;
    flex-direction: column;
    margin-left: $spaces-xxl;

    &action {
      display: flex;
      justify-content: flex-end;
      margin: 0 $spaces-xs $spaces-m 0;
    }
  }
}
