@import "../../../../ui-lib/styles/partials/variables.scss";

.media {
  &_header {
    display: flex;
    flex-direction: column;
    &header {
    }
    &action {
    }
  }

  &_content {
    display: flex;
    flex-direction: column;
    margin-left: $spaces-xxl;
    &content {
    }
    &action {
      display: flex;
      justify-content: flex-end;
      margin: $spaces-m $spaces-xs;
    }
  }
}
