@import "../../../../../ui-lib/styles/partials/variables.scss";
@import "../../../../../ui-lib/styles/partials/mixins.scss";

.report_action {
  @include flex-row;

  &_filters {
    flex: 1;
  }
  &_action {
    @include flex-row();
    align-items: center;
    gap: $spaces-xl;
    margin-right: $spaces-xl;
  }
}
