@import "../../styles/partials/variables.scss";
@import "../../styles/partials/mixins.scss";

.card {
  display: flex;
  flex-direction: column;
  flex: 1;

  padding: $spaces-xs $spaces-s;
  border-radius: $spaces-s;
  background-clip: padding-box;
  position: relative;
  border: $spaces-xs solid transparent;
  @include border-gradient(
    $spaces-xs,
    $colors-violet-primary,
    $colors-orange-primary
  );
  &_default {
    background-color: $colors-white;
  }
  &_primary {
    background-color: $colors-white-smoke;
  }
}
